@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body{
    background-color: #eee;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 136px;
}

.navbar .logo h1{
    font-size: 33px;
    font-weight: 500;
    line-height: 39px;
    color: #000;
}

.navbar .logo h1 span{
    color: #FF7A50;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    color: #000;
}

.links a:active{
    color: #FF6838;
}

.icons{
    display: flex;
    gap: 40px;
    margin-left: 80px;
}

.navbar button{
    background-color: #FF7A50;
    color: #fff;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border: none;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 240px;
}

.left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 23px;
}

.left h1{
    font-size:66px ;
    font-weight: 500;
    line-height: 78px;
    color: #000;
    width: 530px;
}

.left h1 span{
    color: #FF6838;
}

.left p{
    font-size: 20px;
    color: #363853;
    line-height: 30px;
    font-weight: 400;
    width: 513px;
}

.btns{
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;
}

.btns button:nth-child(1){
    width: 163px;
    height: 50px;
    border-radius: 5px;
    background-color: #FF7A50;
    color: #fff;
    border: none;
}

.btns button:nth-child(2){
    width: 135px;
    height: 23px;
    border: none;
    column-rule-color: #000;
    text-decoration: underline;
    background-color: #eee;
    font-size: 20px;
    line-height: 23px;
}

.page2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2 h1{
    color: #000;
    font-size: 36px;
    line-height: 42px;
    font-weight: 500;
}

.page2 span{
    color: #FF6838;
}

.volume{
    display: flex;
    gap: 61px;
    margin-top: 54px;
}

.keys{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.keyone{
    width: 210px;
    height: 70px;
    background-color: #fff;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.yup:nth-child(1){
    background-color: #FF7A50;
    color: #fff;
}

.keytwo{
    width: 208px;
    height: 279px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.keytwo button{
    width: 136px;
    height: 32px;
    background-color: #FF7A50;
    color: #fff;
    border: none;
    border-radius: 2px;
}

.cus{
    margin-top: 35px;
}

.page3{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chap{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.chap h1{
    width: 384px;
    font-style: 36px;
    font-weight: 500;
    line-height: 50px;
}


.chap span{
    color: #FF6838;
}

.chap p{
    width: 449px;
    color: #363853;
    line-height: 30px;
    font-size: 20px;
}

.chap .main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.chap .main h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.chap button{
    width: 176px;
    height: 58px;
    border-radius: 30px 30px 1px 30px;
    background-color: #FF7A50;
    color: #fff;
    border: none;
}

.page4{
    width: 100%;
    height: 135vh;
    display: flex;
    flex-direction: column;
}

.page4 h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.page4 h1 span{
    color: #FF6838;
}

.section {
    display: flex;
    gap: 43px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.nile{
    width: 361px;
    height: 417px;
    border-radius: 53px 5px 0px 0px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 15px;
}

.defend{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 60px;
}

.nile h1{
    font-style: 24px;
    line-height: 30px;
    font-weight: 400;
}

.defend p{
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    color: #363853;
    margin-top: 15px;
}

.defend button{
    width: 79px;
    height: 33px;
    background-color: #FF6838;
    border: none;
    border-radius: 20px 20px 0 20px;
    color: #eee;
}

.page5{
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.first{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
}

.first h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 50px;
}

.first p{
    width: 538px;
}

.first h1 span{
    color: #FF6838;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page6{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page6>h1{
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.page6 h1 span{
    color: #FF6838;
}

.upper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 114px;
}

.twice p{
    width: 573px;
    font-size: 20px;
    color: #363853;
    line-height: 45px;
    text-align: start;
}

.ason{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: px;
}

.ason h1{
    text-align: start;
}

.page6{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fsg{
    width: 1170px;
    height: 312px;
    background-color: #FF7A50;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.fsg h1{
    color: #fff;
    font-style: 40px;
    font-weight: 500;
}

.fsg p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.fsg input{
    width: 838px;
    border-radius: 70px;
    background-color: #fff;
    border: none;
    text-indent: 10px;
    height: 78px;
}

footer {
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.stuck{
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.stuck h1{
    font-size: 33px;
}

.stuck h1 span{
    color: #FF6838;
}


@media (max-width:350px){
    .links{
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        width: 350px;
        align-items: center;
    }

    .btum{
        display: none;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
    }

    .wrapper{
        flex-direction: column;
        padding-left: 400px;
    }
    
    .page2{
        display: flex;
        flex-direction: column;

    }

    .volume{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1/4;
        margin-left: 400px;
    }

    .pop{
        margin-left: 500px;
        width: 500px;
        margin-top: 50px;
    }

    .page3{
        display: flex;
        flex-direction: column;
        margin-left: 230px;
    }

    .section{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 1/3;
    }

    .tor{
        margin-left: 220px;
        width: 300px;
        margin-top: 80px;
    }

    .page5{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
    }

    .page6{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
        width: 400px;
    }

    #sore{
        display: flex;
        flex-direction: column;
        margin-left: 250px;
    }

    footer{
        width: 400px;
        margin-left: 300px;
    }
}